.shiny-card {
  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 15%, 9%);
  --paragraph: hsl(0, 0%, 83%);
  --line: hsl(240, 9%, 17%);
  --primary: var(--primary-color);
  gap: 1rem;
  padding: 1rem;
  background-color: hsla(240, 15%, 9%, 1);
  background-image:
    radial-gradient(at 88% 40%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, hsl(161, 99%, 16%) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsl(161, 97%, 26%) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsl(160, 94%, 8%) 0px, transparent 85%);

  border-radius: 1rem;
  box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;

  border: 2px solid var(--primary);
  animation: border-color-change 3s linear infinite;
}

@keyframes border-color-change {
  0% {
    border-color: var(--primary);
  }

  50% {
    border-color: var(--line);
  }

  100% {
    border-color: var(--primary);
  }
}